body, html {
  height: 100%;
  background: #ffa500;
}
.div1{
height: 150px;
margin:1em auto;
font-family:"Open Sans", sans-serif;
}
 
.div31{
width: 372px; 
height: 240px;
display: inline-block; 
*display: inline; 
vertical-align: top;
font-size: 12px;
margin:-4em auto;
padding-top: 50px;
font-family:"Open Sans", sans-serif;
}
.div32{
height: 235px;
width:300px;
display: inline-block; 
*display: inline; 
vertical-align: top;
font-size: 12px;
width:66%;
margin:-4em auto;
padding-top: 50px;
padding-left: 1px;
font-family:"Open Sans", sans-serif;
}
 
 
 
 
.header {
float:center;
font-size: 20px;
width:100%;
border: 3px solid blue;
color:brown;
text-align: center;
margin:1em auto;
border-radius: 15px;
height: 50%;
 
}
 
.headerone {
display: inline-block; 
float:center;
font-size: 20px;
width:24.3%;
border: 3px solid blue;
color:brown;
text-align: center;
margin:-2em auto;
border-radius: 15px;
height: 100%;
 
}
 
.tablehead{
    width:372px;
}
 
.headertwo{
float:center;
font-size: 20px;
width:100%;
border: 3px solid blue;
color:brown;
text-align: center;
margin:0.1em auto;
border-radius: 15px;
height: 100%;
     
}
 
.header3{
float:center;
font-size: 20px;
width:112%;
border: 3px solid blue;
color:brown;
text-align: center;
margin:0.1em auto;
border-radius: 15px;
height: 52%;
     
     
}
 
.rightborder{
    border-right:3px solid blue;
    color:green;
}
 
.topborder{
    border-top:3px solid blue;
    color:green;
}
 
.bothborder{
    border-right:3px solid blue;
    border-top:3px solid blue;
    color:green;
}
